# Prerequisites
*.d

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Executables
*.exe
*.out
*.app

# Custom Files
**/.notes

# OS Specific Files
**/.DS_Store

######################################################
# Ignore directories
**/.tmp/
**/.vscode/
**/.build/
**/build/

# Debug Symbols
**.dsYM/